/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: $color__text-main;
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
	cursor: pointer;

	&:hover {
		border-color: #ccc #bbb #aaa;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}

	&.default {
		display: flex;
		align-items: center;
		justify-items: center;
		margin: 0; padding: 0;
		min-height: 2rem;
		border-radius: 1rem;
		background-color: transparent;
		border: 1px solid $yellow;
		box-shadow: none;
		text-shadow: none;
		transition: $ani__time-default;

		&:hover {
			background-color: rgba(255,255,255,0.24);
			a {
				color: $white;
			}
		}

		a  {
			padding: .5rem 1rem;
		}
	}
}

// Front-page
input[type="radio"] {
	.filter-txt & {
		display: none;
	}
}

label {
	cursor: pointer;
	.filter-txt & {
		display: block;
		height: 24px;
		line-height: 24px;
		padding: 0 .5rem;
		font-size: 0.75rem;
		border: $border__default-black;
	}
	.filter-txt:first-child & {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		border-right: none;
	}
	.filter-txt:last-child & {
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-left: none;
	}
	.filter-txt.active & {
		background-color: $black_default;
		color: $white;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
