/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */
.site-header {
}
.main {
	&-navigation {
		z-index: 9999;
		position: fixed;
		width: 100vw;
		top: 0; left: 0;
		display: flex;
		align-items: center;
		padding: $base__padding;
		//backdrop-filter: blur(2px);

		.menu-main-navigation-container {
			flex-grow: 1;
		}
	}
	&-logo {
		flex: none;
		width: 3rem;
	}
}

ul {
	.main-navigation & {
		list-style-type: none;
		margin: 0;
		margin-left: 1.5rem;
		padding: 0;
		display: flex;
		justify-content: space-around;
		font-family: $font__nav;
		text-transform: lowercase;
		a {
			text-decoration: none;
			color: $white;
		}
		li {
			opacity: .5;
			letter-spacing: .8px;
		}
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {

}
