/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home {

  .canvas-isometric {
    z-index: -1;
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 600px;
    overflow: hidden;
    color: $white;

    .bg_video {
      position: absolute;
      @include transform-align-center;
      min-width: 800px;
      width: 150vh;
      height: 100%;
    }

    .overlay-dim {
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: $color__dimmer;
    }

    .container {

      &-contents {
        position: relative;
        top: 120px;

        .greeting {
          &-main {
            margin: 0;
            margin-bottom: 1.625rem;
            padding: $base__padding;
            padding-top: 0;
            padding-bottom: 0;
            text-transform: uppercase;
            font-weight: 900;
            color: $white;

            span {
              display: block;
              line-height: 1;

              &:nth-child(1) {
                font-size: 1rem;
                letter-spacing: 3.8px;
                margin-bottom: 4px;
              }

              &:nth-child(2) {
                font-size: 1.825rem;
                letter-spacing: 1.5px;
              }

            }

          }
          &-careers {
            p {
              margin: 0;
              padding: $base__padding;
              padding-top: 0;
              padding-bottom: 0;
              font-size: 1.25rem;
              font-weight: 300;
              font-style: italic;
              line-height: 38px;
              letter-spacing: 1px;
            }
          }
        }

      } // end &-contents

      &-scroll-indicator {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 4.5rem;
        padding: $base__padding;
        padding-top: 0;
        padding-bottom: 0;

        .ic_mouse {
          width: 2rem;
        }

        p {
          margin: 0;
          margin-left: 1rem;
          font-size: 0.75rem;
          font-weight: 300;
          letter-spacing: 0.4px;
        }

      } // end &-scroll-indicator

    } // end .container&

  } // end .canvas-isometric

  .header-meta {
    position: relative;
    width: 100%;
    padding: $base__padding;
    padding-top: 2.625rem;
    padding-bottom: 2.625rem;
    background-color: $color__background-body;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      bottom: -1px;
      left:0;
      background-color: $color__background-body;
    }

    .section-title {
      display: inline-block;
      position: relative;
      transition: $ani__time-default;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: $black_default;
      }

      &:hover {
        &:after {
          background-color: $color__link-hover;
        }
      }
    } // end .section-title

    .filter {
      &-works {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-txt {
        min-width: 5rem;
        text-align: center;

        label {
          transition: $ani__time-default;
        }
      }

    } // end .filter-

  } // .header-meta

  .read-more {
    &-container {
      position: relative;
      background-color: $color__background-body;
      padding: $base__padding;
      padding-bottom: 3.75rem;
      // Mend gaps
      &:before {
        position: absolute;
        content: '';
        left: 0;
        top: -1px;
        height: 2px;
        width: 100%;
        background-color: $color__background-body;
      }
      &:after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: $color__background-body;
      }
    } // end .read-more-container
  } // end .read-more

  // Sections
  .hidden {
    width: 100%;
    height: 600px;
    visibility: hidden;
  }

  .visible {
    position: relative;
    width: 100%;
    background-color: $color__background-body;

    .article {
      &-contents {
        position: relative;
      }
      &-works {
        display: none;
        position: relative;
        min-height: 600px;
        padding-top: 132px;
      }

      &-feat-img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .work-feat-img {
          display: none;
          position: relative;
          left: -64px;
          max-width: none;
          width: auto;
          height: 100%;
          opacity: .24;
          transition: left 2s ease-out;
        }
      } // end .article-feat-img

      &-meta {
        position: relative;
        padding: $base__padding;

        p, h3 { margin: 0;}
        .work {
          &-date {
            margin-bottom: .125rem;
            color: $grey;
          }
          &-title {
            margin-bottom: .5rem;
          }
        }

      } // end .article-meta

    } // end .article

    .role {

      &-meta {
        padding: $base__padding;
        &-title {
          margin: 0;
          margin-bottom: .125rem;
        }
      } // end .role-meta

      &-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      } // end .role-container

      &-element {
        position: relative;
        margin: 0;
        &:after {
          position: relative;
          left: -2px;
          content: ',\2008';
        }
        &:last-of-type {
          &:after {
            display: none;
          }
        }
      } // end .role-element

    } // end .role

    .tag {

      &-meta {
        padding: $base__padding;
      } // end .tag-meta

      &-container {
        display: flex;
        align-items: center;
        &:first-child {
          margin-bottom: .5rem;
        }
      }

      &-element {
        margin: 0;
        margin-right: .25rem;
      }

    } // end .tag

    .about-me {
      &-gradation-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(329deg, #ace0f9, #fff1eb);

        &:nth-of-type(2) {
          top: 50%;
          background-image: linear-gradient(211deg, #ace0f9, #fff1eb);
        }
      } // end .about-me-gradation-bg
    } // end .about-me

  &.section-front-about-me {
    .header-meta {
      background-color: transparent;
      &:after {
        display: none;
      }
    }

    .about-me  {
      &-description {
        position: relative;
        padding: $base__padding;
        padding-top: 0;

        &-para {
          margin: 0;
        }

        span {
          display: block;
        }

      }

    } // end .about-me

    .read-more-container {
      background-color: transparent;
      &:after, &:before {
        display: none;
      }
    }

    .container-skills {
      position: relative;
      padding-bottom: 3rem;

      .sub-title {
        margin: 0;
        padding: $base__padding;
        padding-top: 0;
        padding-bottom: 0.75rem;
      }

    } // end .container-skills

    .skills {
      &-set {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr) );
        justify-items: center;
        grid-gap: 1.25rem;
        padding: 0 1rem;

        &-element {
          position: relative;
          border-radius: .5rem;
          background-color: $white;
          box-shadow: 0 2px 8px 0 rgba(0,32,66,0.28);
          overflow: hidden;
          width: 5rem; height: 5rem;

          &-grid {
            position: absolute;
            top: 0;
            left: 0;
          }
          &-img {
            @extend .skills-set-element-grid;
          }
          &-title {
            position: absolute;
            width: 100%;
            margin: 0;
            bottom: .375rem;
          }

        } // end .skills-set-element
      } // end .skills-set
    } // end .skills

  } // end .visible.section-front-about-me

  } // end .visible

} // end .home
